#title{
    text-align: center;
    background-color: lightgreen;
    padding: 0;
    padding-top: 3em;
    height: 10em;
    font-family: 'Fascinate', cursive;
}

#bumper1A, #bumper1B{
    background-color: lightgreen;
    height: 10em;
}


#timer{
    padding: 0;
    background-color: #af733a;
    height: 5em;
    text-align: center;
    padding-top: 1.5em;
    font-size: 2em;
    font-family: 'Fascinate', cursive;
}

#question1{
    padding: 1em;
    padding-left: 6em;
}

#question2{
    padding: 1em;
    padding-left: 6em;
}

#question3{
    padding: 1em;
    padding-left: 6em;
}

#question4{
    padding: 1em;
    padding-left: 6em;
}


#test{
    text-align: center;
}

#btn{
    height: 10em;
    width: 10em;
    border-radius: 5em;
    margin-top: 3em; 
}

